@* SH 10-18 *@
@model CISS411_Project.Models.Swimmer
    <div>
        <h2>Add Your Profile</h2>
        <form asp-action="AddProfile">
            <input asp-for="@Model.UserId" type="hidden" />
            <table class="table">
                <tr>
                    <th>Name: </th>
                    <td><input asp-for="Name" /></td>
                </tr>
            </table>
            <button type="submit">Add Profile</button>
        </form>
        <br />
        <p><a asp-action="Index">Back to Swimmer Home</a></p>
    </div>

