@model IEnumerable<CISS411_Project.Models.Enrollment>
<h3>Swimmer Name: @ViewData["sname"]</h3>
<table border="1">
    <tr>
        <th>Session ID</th>
        <th>Grade</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Session.SessionId</td>
            <td>@Html.DisplayFor(m => c.ProgressReport)</td>
        </tr>
    }
</table>
<p><a asp-action="Index">Back to Student Home</a></p>