@model IEnumerable<CISS411_Project.Models.Enrollment>
    <div>
        <h3>Swimmer Name: @ViewData["sname"]</h3>
        <table class="table">
            <tr>
                <th scope="col">Session ID</th>
                <th scope="col">Grade</th>
            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td scope="row">@c.Session.SessionId</td>
                    <td>@Html.DisplayFor(m => c.ProgressReport)</td>
                </tr>
            }
        </table>
        <p>E = Exceeds Expectations, A = Average, B = Below Average</p>
        <br />
        <p><a asp-action="Index">Back to Student Home</a></p>
    </div>