@* SH 10-14-20 *@
<h2>Swimmer Home</h2>
<p><a asp-action="AddProfile">Add Profile</a></p>
<p><a asp-action="AllSession">Sign up for a session</a></p>
<p><a asp-action="CheckProgress">Check progress report</a></p>