<div>
    <h2>We're Sorry</h2>
    <div class="alert alert-danger" role="alert">
        You are already enrolled in a session with this time slot
    </div>
    <br />
    <p><a asp-action="AllSession">Back to All Sessions</a></p>
</div>