@*AT 10-15-20*@
@model CISS411_Project.Models.Lesson
<div>
    <form asp-controller="Admin" asp-action="AddLesson" method="post">
        <table class="table">
            <tr>
                <th>Skill Level: </th>
                <td><input asp-for="SkillLevel" /></td>
            </tr>
            <tr>
                <th>Tuition: </th>
                <td><input asp-for="Tuition" /></td>
            </tr>
        </table>
        <button type="submit">Add Lesson</button>
    </form>
    <br />
    <p><a asp-controller="Admin" asp-action="Index">Back to Admin Home</a></p>
</div>