@*AT 10-15-20*@
<h2>Admin Home</h2>
<p><a asp-controller="Role" asp-action="AllRole">Manage Roles</a></p>
<p><a asp-controller="Account" asp-action="AllUser">Manage Users Roles</a></p>
<p><a asp-action="AddLesson">Add Lesson</a></p>
<p><a asp-action="AllLesson">View Lessons</a></p>