@using System.Security.Claims;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Project</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    @if (this.User.Identity.IsAuthenticated)
    {
        <br />
        <div class="d-flex justify-content-end pr-5">Hello, @this.User.Identity.Name </div>
        <div class="d-flex justify-content-end pr-5"><a asp-controller="Account" asp-action="Logout">Logout</a></div>
        <br />
    }
    <div class="d-flex justify-content-center">
        @RenderBody()
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap.4.4.1/bootstrap.min.js"></script>
</body>
</html>
