@* AT 10-14-20 *@
<div>
    <h2>Smith Swimming School (3S)</h2>
    <p>About swim school</p>
    <p>Example swim lessons or other relevant information</p>
    <p><a asp-controller="Account" asp-action="Register">Register</a></p>
    <p><a asp-controller="Account" asp-action="Login">Login</a></p>
</div>