@* AT 10-14-20 *@
@model CISS411_Project.ViewModels.RoleAddUserRoleViewModel
    <div>
        <p>Pick a role for @Model.User.UserName</p>
        <form asp-controller="Role" asp-action="AddUserRole" method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="@Model.User.Id" type="hidden" />
            <table class="table">
                <tr>
                    <th>Role: </th>
                    <td><select asp-for="Role" asp-items="@Model.RoleList"></select></td>
                </tr>
            </table>
            <button type="submit">Add Role</button>
        </form>
        <br />
        <p><a asp-controller="Account" asp-action="AllUser">Back to All Users</a></p>
    </div>