@* AT 10-14-20 *@
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<div>
    @{
        if (Model.Count() < 1)
        {
            <p>No role in database yet.</p>
        }
        else
        {
            <h3>All Roles</h3>
            <table class="table">
                <tr>
                    <th>Role Name</th>
                </tr>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                    </tr>
                }
            </table>
            <p><a asp-action="AddRole">Add a role</a></p>
        }
    }
    <br />
    <p><a asp-controller="Admin" asp-action="Index">Back to Admin Home</a></p>
</div>