@model CISS411_Project.Models.Session
<h2>Add Your Session</h2>
<form asp-controller="Coach" asp-action="AddSession" method="post">
    <input asp-for="CoachId" type="hidden" />
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" />
    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" />
    <label asp-for="SeatsAvailable"></label>
    <input asp-for="SeatsAvailable" />
    <label asp-for="StartTime"></label>
    <input asp-for="StartTime" />
    <br />
    <button type="submit">Add Session</button>
</form>