@*AT 10-17-20*@
@model CISS411_Project.ViewModels.CoachLessonViewModel
    <div>
        @{
            if (Model.Lessons == null)
            {
                <p>No lesson in database yet.</p>
            }
            else
            {
                <h3>All Lessons</h3>
                <table class="table">
                    <tr>
                        <th scope="col">Lesson ID</th>
                        <th scope="col">Skill Level</th>
                        <th scope="col">Add a Session</th>
                    </tr>
                    @foreach (var lesson in Model.Lessons)
                    {
                <tr>
                    <td scope="row">@lesson.LessonId</td>
                    <td>@lesson.SkillLevel</td>
                    <td>
                        @if (Model.Coach == null)
                        {
                            <a asp-controller="Coach" asp-action="AddProfile">Add Profile</a>
                        }
                        else
                        {
                            <a asp-action="AddSession" asp-route-id="@lesson.LessonId">Add Session</a>
                        }
                    </td>
                </tr>
                    }
                </table>
            }
        }
        <br />
        <p><a asp-action="Index">Back to Coach Home</a></p>
    </div>