@*AT 10-17-20*@
<h2>Coach Home</h2>
<p><a asp-controller="Coach" asp-action="AllLesson">Manage Sessions</a></p>
<p><a>Write Progress Report</a></p>
<p><a></a></p>
<p><a asp-action="AddProfile">Add Profile</a></p>
